# Игнорировать файлы в подкаталоге tmp
/tmp/
# Игнорировать файлы, заканчивающиеся суффиксами _old, _backup
*_old
*_backup
# Игнорировать файлы Thumbs.db
Thumbs.db
# Игнорировать файлы .DS_Store
*.DS_Store